/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  /*color: white;*/
}

ul.nav {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 25px;
}

.navbar-brand {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 25px;
}

footer {
	font-family: 'Sue Ellen Francisco', cursive;
}

/*Index */

.jumbotron {
	text-align: center;
	background-image: url('images/thali.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    padding: 200px;
}

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 50px;
	padding-top: 20px;
}

.jumbotron p {
	margin-bottom: 40px;
}

.btn-lg {
	font-size: 1em;
}

.btn-lg span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-lg span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-lg:hover span {
  padding-right: 25px;
}

.btn-lg:hover span:after {
  opacity: 1;
  right: 0;
}


/*Animate button tutorial found here https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/

/*Menu CSS*/

#jumbotron-menu {
	background-image: url('images/eat.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    background-position: center bottom;
    padding: 250px;
}

/* Responsive gallery tutorial https://www.w3schools.com/css/css_image_gallery.asp */

#gallery {
	margin-top: 50px;
}


/*Vision CSS*/

#jumbotron-vision {
	background-image: url('images/sayhi.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 250px;
}

@media only screen and (max-width: 800px) {
  #jumbotron-vision {
    background-position: center;
  }
}

#vision {
	padding: 50px;
}


a:hover {
	color: red;
	text-decoration: none;
}

a:visited, a:link, a:active{
	text-decoration: none
}
/* Looked up how to override default CSS - https://stackoverflow.com/questions/2789703/remove-stubborn-underline-from-link */

#flex {
	display: flex;
	justify-content: space-around;

}
.square-box {
	background-color: #f1f1f1;
  	width: 250px;
  	margin: 10px;
  	text-align: center;
  	line-height: 250px;
}

.square-box-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.description {
	background-color: #f1f1f1;
  	width: 250px;
  	text-align: center;
  	line-height: 20px;
  	padding-top: 20px;
  	padding-bottom: 20px;
}
/*Menu CSS*/

#menu {
	max-width: 800px;
}
/*Contact CSS*/

.container-contact h1 {
	font-family: 'Sue Ellen Francisco', cursive;
	text-align: center;
}

/* Reservations */

#container-form {
	text-align: center;
	display: flex;
	justify-content: center;
}

#form-reservation {
    text-align: center;
}

/*reference/credit for sizing here: https://gist.github.com/bradfrost/2096790*/

input {
	box-sizing: border-box;
	width: 100%;
	padding: 2em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
}

input.btn.btn-success {
    width: 90%;
    margin-top: 10px;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;

}


#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

 @media screen and (max-width: 992px) {
 .jumbotron {
 	background-size: cover;
 	padding: 20px;
 }
 #menu {
 	max-width: 600px;
 }
}

@media screen and (max-width: 600px) {
	.jumbotron {
 	background-size: cover;
 	padding: 20px;
 }
  #menu {
 	max-width: 300px;
 }
}




